/* index.css */

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #F2F2F2;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 100%; /* Para asegurarse de que el contenido no se desborde */
}

h1 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
}

p.lead {
  font-size: 1.2em;
  text-align: center;
}

button.btn {
  width: 100%;
  max-width: 280px;
  margin: 10px 0;
  padding: 15px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Enlace de GitHub */
a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #F27052; /* Cambia el color al pasar el mouse */
}

.fab {
  margin-right: 8px;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  p.lead {
    font-size: 1.1em;
  }

  button.btn {
    max-width: 90%;
    font-size: 1em;
  }

  .alert {
    font-size: 1.4em;
    padding: 20px;
  }
}